<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <title>Admin Hub</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="style.css")}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="static/AdminScripts.js"></script>
  </head>
  <body class="page-admin">
    <div class="top-navbar-admin">
      <ul class="top-navbar-list-admin">
        <li><button class="top-navbar-button" onclick="location.href='/home'">Domů</button></li>
        <li><button class="top-navbar-button" onclick="location.href='/logout'">Logout</button></li>
      </ul>
    </div>
    <div class="content" style="padding-top: 40px;">
      <h1>Admin Hub</h1>
    </div>
    <div style="width: 100%;">
      <ul class="top-navbar-list-admin" style="justify-content: center;">
        <li><button class="top-navbar-button" onclick="showItems()">Inzeráty</button></li>
        <li><button class="top-navbar-button" onclick="showUsers()">Uživatelé</button></li>
        <li><button class="top-navbar-button" onclick="showReports()">Nahlášení</button></li>
        <li><button class="top-navbar-button" onclick="showLogs()">Logy</button></li>
      </ul>
    </div>
    <div id="AdminItemsList" class="admin-list-container">
      <ul style="padding: 0px">
        {% for n in items %}
          <li class="list-item" id="{{n[2]}}">
            <img src={{n[1]}} class="item-image">
            <div style="display: flex; flex-direction: column; justify-content: space-evenly; width: 500px;">
              <a href="{{n[3]}}" class="item-link">{{n[0]}}</a>
              <div style="display: flex; justify-content: flex-start;">
                <p class="itemid">ItemID: {{n[2]}}</p>
                <p style="margin-right: 10px;">Bazar: {{n[4]}}</p>
                <p>Date: {{n[5]}}</p>
              </div>
              <div>
                {% if n[2] in unpItems %}
                  <button class="generic-button" id="unpublishButton{{n[2]}}" type="submit" style="display: none;" onclick="unpublishItem({{n[2]}}, this.id)">Schovat</button>
                  <button class="generic-button" id="publishButton{{n[2]}}" type="submit" onclick="publishItem({{n[2]}}, this.id)">Publikovat</button>
                {% else %}
                  <button class="generic-button" id="unpublishButton{{n[2]}}" type="submit" onclick="unpublishItem({{n[2]}}, this.id)">Schovat</button>
                  <button class="generic-button" id="publishButton{{n[2]}}" type="submit" style="display: none;" onclick="publishItem({{n[2]}}, this.id)">Publikovat</button>
                {% endif %}
                <button class="generic-button" id="removeButton{{n[2]}}" type="submit" onclick="removeItem({{n[2]}})">Odstranit z DB</button>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="AdminUsersList" class="admin-list-container" style="display: none;">
      <ul style="padding: 0px">
        {% for n in users %}
          <li class="list-item" style="width: 450px;" id="us{{n[0]}}">
            <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
              <div style="display: flex; justify-content: flex-start;">
                <p class="itemid" style="margin-right: 10px;">Jméno: {{n[1]}}</p>
                <p style="margin-right: 10px;">UserID: {{n[0]}}</p>
              </div>
              <div>
                <button class="generic-button" id="removeButton{{n[0]}}" type="submit" onclick="removeUser({{n[0]}})">Odstranit z DB</button>
                {% if n[0] in admins %}
                  <button class="generic-button" id="RevokeAdmin{{n[0]}}" type="submit" onclick="revoke({{n[0]}}, this.id)">Odebrat Admina</button>
                  <button class="generic-button" id="GrantAdmin{{n[0]}}" style="display: none;" type="submit" onclick="grant({{n[0]}}, this.id)">Přidat Admina</button>
                {% else %}
                  <button class="generic-button" id="GrantAdmin{{n[0]}}" type="submit" onclick="grant({{n[0]}}, this.id)">Přidat Admina</button>
                  <button class="generic-button" id="RevokeAdmin{{n[0]}}" style="display: none;" type="submit" onclick="revoke({{n[0]}}, this.id)">Odebrat Admina</button>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="AdminReportsList" class="admin-list-container" style="display: none;">
      <ul style="padding: 0px">
        {% for n in reports %}
          <li class="list-item" id="rep{{n[2]}}">
            <img src={{n[1]}} class="item-image">
            <div style="display: flex; flex-direction: column; justify-content: space-evenly; width: 500px;">
              <a href="{{n[3]}}" class="item-link">{{n[0]}}</a>
              <div style="display: flex; justify-content: flex-start;">
                <p class="itemid">ItemID: {{n[2]}}</p>
                <p style="margin-right: 10px;">Nahlášení: {{n[4]}}</p>
              </div>
              <div>
                {% if n[2] in unpItems %}
                  <button class="generic-button" id="unpublishButtonRep{{n[2]}}" type="submit" style="display: none;" onclick="unpublishItemRep({{n[2]}}, this.id)">Schovat</button>
                  <button class="generic-button" id="publishButtonRep{{n[2]}}" type="submit" onclick="publishItemRep({{n[2]}}, this.id)">Publikovat</button>
                {% else %}
                  <button class="generic-button" id="unpublishButtonRep{{n[2]}}" type="submit" onclick="unpublishItemRep({{n[2]}}, this.id)">Schovat</button>
                  <button class="generic-button" id="publishButtonRep{{n[2]}}" type="submit" style="display: none;" onclick="publishItemRep({{n[2]}}, this.id)">Publikovat</button>
                {% endif %}
                <button class="generic-button" id="removeButton{{n[2]}}" type="submit" onclick="removeItemRep({{n[2]}})">Odstranit z DB</button>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="AdminLogsList" class="admin-list-container" style="display: none;">
        <ul style="padding: 0px">
          {% for n in logs %}
            <li class="list-item">
              <div style="display: flex; flex-direction: column; justify-content: space-between;">
                <p style="margin-left: 10px;">{{n[2]}}</p>
                <div style="display: flex;">
                  <p style="margin: 0px 10px;">LogID: {{n[0]}}</p>
                  <p style="margin: 0px 10px;">Autor: {{n[1]}}</p>
                  <p style="margin: 0px 10px;">Datum: {{n[3]}}</p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
    </div>
  </body>
</html>
