<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="style.css")}}">
    <script src="static/FavouriteScript.js"></script>
  </head>
  <body>
    <div class="top-navbar">
      <img class="logo" src="logo_white.png" onclick="location.href='/home'">
      <ul class="top-navbar-list">
        <li><button class="top-navbar-button" onclick="location.href='/home'">Home</button></li>
        <li><button class="top-navbar-button" onclick="location.href='/browse'">Browse</button></li>
        {% if loggedIn == True %}
          <li><button class="top-navbar-button" onclick="location.href='/profile'">Profile</button></li>
        {% else %}
          <li><button class="top-navbar-button" onclick="location.href='/authorize'">Login / Register</button></li>
        {% endif %}
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
      <form method="GET">
        <input type="text" placeholder="Search" class="inputField" name="search">
        <br>
        <select name="sort">
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
          <option value="alphasc">A-Z</option>
          <option value="alphdes">Z-A</option>
        </select>
        <select name="bazar">
          <option value="any">Any</option>
          <option value="sbazar">Sbazar</option>
          <option value="bazos">Bazos</option>
        </select>
        <button class="submitButton" type="submit">Search</button>
      </form>
    </div>
    <div>
      <ul>
        {% for n in items %}
          <li>
            {{n[0]}}
            <img src={{n[1]}} height="200">
            <p class="itemid">ITEMID: {{n[2]}}</p>
            {% if loggedIn == True %}
              {% if n[2] in favItems %}
                <button id="favAddButton{{n[2]}}" type="submit" style="display:none;" onclick="addToFavourites({{n[2]}}, this.id)">Add Fav</button>
                <button id="favRemButton{{n[2]}}" type="submit" onclick="removeFromFavourites({{n[2]}}, this.id)">Remove Fav</button>
              {% else %}
                <button id="favAddButton{{n[2]}}" type="submit" onclick="addToFavourites({{n[2]}}, this.id)">Add Fav</button>
                <button id="favRemButton{{n[2]}}" type="submit" style="display:none;" onclick="removeFromFavourites({{n[2]}}, this.id)">Remove Fav</button>
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    {% if pageData[1] == 1 and (pageData[2]/pageData[3]) > 1 %}
      <span> {{pageData[1]}} </span>
      <a href="{{url_for(request.endpoint)}}?search={{pageData[0]}}&page={{pageData[1]+1}}">Next</a>
    {% elif pageData[2]/(pageData[3]*pageData[1]) > 1 %}
      <a href="{{url_for(request.endpoint)}}?search={{pageData[0]}}&page={{pageData[1]-1}}">Prev</a>
      <span> {{pageData[1]}} </span>
      <a href="{{url_for(request.endpoint)}}?search={{pageData[0]}}&page={{pageData[1]+1}}">Next</a>
    {% elif pageData[1] == 1 %}
      <span> {{pageData[1]}} </span>
    {% else %}
      <a href="{{url_for(request.endpoint)}}?search={{pageData[0]}}&page={{pageData[1]-1}}">Prev</a>
      <span> {{pageData[1]}} </span>
    {% endif %}
  </body>
</html>
