<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="style.css")}}">
  </head>
  <body class="page">
    <div class="top-navbar">
      <img class="logo" src="static/placeholderlogo.png" onclick="showHome()">
      <ul class="top-navbar-list">
        <li><button class="top-navbar-button" onclick="location.href='/home'">Home</button></li>
        <li><button class="top-navbar-button" onclick="location.href='/browse'">Browse</button></li>
        {% if loggedIn == True %}
          <li><button class="top-navbar-button" onclick="location.href='/profile'">Profile</button></li>
        {% else %}
          <li><button class="top-navbar-button" onclick="location.href='/authorize'">Login / Register</button></li>
        {% endif %}
      </ul>
    </div>
    <div class="content" id="homePage">
      <h1>Bazar Scraper</h1>
      <p>
        Welcome to the Bazar Scraper website
      </p>
    </div>
    <div class="color-cover"></div>
    <video autoplay muted loop>
      <!-- <source src="static/video.mp4" type="video/mp4"> -->
    </video>
  </body>
</html>
