<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login/Register</title>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="style.css")}}">
</head>
<body class="gridContainer" id="loginPageBackground">
  <div class="top-navbar">
    <img class="logo" src="static/placeholderlogo.png" onclick="location.href='/home'">
    <ul class="top-navbar-list">
      <li><button class="top-navbar-button" onclick="location.href='/home'">Home</button></li>
      <li><button class="top-navbar-button" onclick="location.href='/browse'">Browse</button></li>
      <li><button class="top-navbar-button" onclick="location.href='/authorize'">Login / Register</button></li>
    </ul>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="loginBox">
    <form method="POST">
      <input type="text" placeholder="Username" class="inputField" name="user">
      <br>
      <input type="password" placeholder="Password" class="inputField" name="pass">
      <br>
      <button class="submitButton" type="submit" name="loginForm">Log in</button>
    </form>
    <form method="POST">
      <input type="text" placeholder="Username" class="inputField" name="user">
      <br>
      <input type="password" placeholder="Password" class="inputField" name="pass">
      <br>
      <button class="submitButton" type="submit" name="registerForm">Register</button>
    </form>
  </div>
  <br>
  <br>
  <br>
  {% if authFailed %}
    <h1>Wrong username or password.</h1>
  {% endif %}
</body>
</html>
