<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="style.css")}}">
</head>
<body class="gridContainer" id="loginPageBackground">
  <div class="loginBox">
    <form method="POST">
      <input type="text" placeholder="Username" class="inputField" name="user">
      <br>
      <input type="password" placeholder="Password" class="inputField" name="pass">
      <br>
      <button class="submitButton" type="submit" name="loginForm">Log in</button>
    </form>
    <form method="POST">
      <input type="text" placeholder="Username" class="inputField" name="user">
      <br>
      <input type="password" placeholder="Password" class="inputField" name="pass">
      <br>
      <button class="submitButton" type="submit" name="registerForm">Register</button>
    </form>
<script data-ad-client="pub-5434730204209500" async src="https://pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
  </div>
</body>
</html>
