<!DOCTYPE html>
<html lang="cs">
  <head>
   <meta charset="UTF-8">
   <title>Profile</title>
   <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="style.css")}}">
   <script src="static/FavouriteScript.js"></script>
  </head>
  <body>
    <div class="top-navbar">
      <img class="logo" src="logo_white.png" onclick="location.href='/home'">
      <ul class="top-navbar-list">
        <li><button class="top-navbar-button" onclick="location.href='/home'">Home</button></li>
        <li><button class="top-navbar-button" onclick="location.href='/browse'">Browse</button></li>
        {% if loggedIn == True %}
          <li><button class="top-navbar-button" onclick="location.href='/profile'">Profile</button></li>
        {% else %}
          <li><button class="top-navbar-button" onclick="location.href='/authorize'">Login / Register</button></li>
        {% endif %}
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {{username}}
    <br>
    <button onclick="location.href='/logout'">LOGOUT</button>
    <br>
    <br>
    <div>
      <ul>
        {% for n in items %}
          <li>
            {{n[0]}}
            <img src={{n[1]}} height="200">
            <p class="itemid">ITEMID: {{n[2]}}</p>
            <button id="favRemButton{{n[2]}}" type="submit" onclick="removeFromFavouritesProfile({{n[2]}}, this)">Remove Fav</button>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
